body{
    margin: 0;padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
main{
    width: 1440px;
    height: 3186px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
header{
    margin: 0;padding: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-hero-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
}

/* logo */
.logo{
    margin: 0;padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}
.logo__btn{
    border-radius: 100px;
    width: 200px;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px -10px hsl(192, 100%, 9%) ;
    z-index: 2;
}
.logo__btn p {
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
/* header main */
.header__main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Started{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.Started h1{
    color: hsl(192, 100%, 9%);
}
.Started p{
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}
.Started__btn{
    width: 280px;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 30px -15px hsl(192, 100%, 9%);
}
.Started__btn p{
    color: hsl(193, 100%, 96%);
    font-size: 0.8em;
}
.header__main img{
    width: 50%;
}



/* section main */

.main{
    margin: 10em 0em 10em 0em;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tile{
    padding: 3% 2% 3% 8%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    box-shadow: 0px 0px 30px -20px hsl(192, 100%, 9%);
}

.tile:nth-child(even){
    flex-direction: row;
}
.tile:nth-child(odd){
    flex-direction: row-reverse;
}

.tile img{
    width: 35%;
    height: 100%;
}
.tile__header{
    width: 44%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.tile__header h1{
    font-size: 1.5em;
    font-weight: 700;
    color:  hsl(192, 100%, 9%);
    margin: 0;
}
.tile__header p{
    font-size: 1.03em;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
}

.ready{
    position: absolute;
    bottom: -18em;
    width: 60%;
    height: 15em;
    background-color: white;
    box-shadow: 0px 0px 30px -20px hsl(192, 100%, 9%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    z-index: 2;
}

.ready h1{
    font-size: 2em;
    font-weight: 700;
    color:  hsl(192, 100%, 9%);
    margin: 0;
}
.ready__btn{
    width: 450px;
    height: 60px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    box-shadow: 0px 2px 30px -15px hsl(192, 100%, 9%);
}
.ready__btn p {
    color: hsl(193, 100%, 96%);
    font-size: 1em;
}
/* footer */
footer{
    position: relative;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10em;
    padding-bottom: 8em;
}
.left{
    width: 30%;
    height: 100%;
    color: hsl(193, 100%, 96%);
}
.left__logo{
    width: 50%;
    z-index: 2000;
    color: white;
}
.left div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.left div img{
    width: 1em;
    height: 1em;
    margin-right: 1em;
}



.mid{
    position: relative;
    left: 6em;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: hsl(193, 100%, 96%);
}
.mid div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.right{
    margin-right: 13em;
    position: relative;
    top: 3em;
    left: 8em;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.right div img{
    width: 20px;
    height: 20px;
    border: 1px solid hsl(193, 100%, 96%);
    border-radius: 100px;
    padding: 0.4em;
    margin: 0.3em;
}

.copyRight{
    position: absolute;
    bottom: 4em;
    right: 12em;
    font-size: 0.6em;
    color: hsl(193, 100%, 96%);
}






@media only screen and (max-width: 1440px){
    body{
        width: 100vw;
        height: 100%;
    }
    main{
        width: 100vw;
        height: auto;
    }
    .right{
        margin-right: 18%;
        top: -3em;
    }
}

@media only screen and (max-width: 1200px){
    body{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1000px){
    body{
        font-size: 16px;
    }
    .Started__btn{
        width: 200px;
    }
    .Started__btn p{
        font-size: .9em;
    }
    .tile__header h1{
        font-size: 1.5em;
    }
    .tile__header p{
        font-size: 1em;
    }
    .ready h1{
        font-size: 1.5em;
    }
    .ready__btn{
        width: 250px;
    }
    .ready__btn p {
        font-size: 0.9em;
    }
    .left div{
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 900px){
    .logo{
        width: 90%;
    }
    .header__main{
        width: 90%;
        flex-direction: column;
    }
    .Started{
        width: 100%;
        height: 50%;
        align-items: center;
        flex-direction: column;
    }
    .Started h1{
        color: hsl(192, 100%, 9%);
        text-align: center ;
    }
    .Started p{
        text-align: center;
        font-size: 1.1em;
    }
    .Started__btn{
        margin: 1em 0em;
    }
    .Started__btn p{
        color: hsl(193, 100%, 96%);
        font-size: 0.9em;
    }
    .header__main img{
        width: 90%;
    } 

    .tile:nth-child(even){
        flex-direction: column;
    }
    .tile:nth-child(odd){
        flex-direction: column;
    }
    
    .tile img{
        width: 45%;
        height: auto;
        margin-bottom: 5em;
    }
    .tile__header{
        width: 80%;
        align-items: center;
    }
    
    .tile__header h1{
        font-size: 1.7em;
    }
    .tile__header p{
        font-size: 1.1em;
        text-align: center;
    }


    .ready{
        width: 90%;
    }
    
    .ready h1{
        font-size: 1.8em;
        text-align: center;
    }
    .ready__btn{
        width: 350px;
    }
    .ready__btn p {
        font-size: 1em;
    }


    footer{
        position: relative;
        width: 100%;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 10em;
        padding-bottom: 8em;
    }
    .left{
        margin-left: 5%;
        width: 80%;
        height: 100%;
        color: hsl(193, 100%, 96%);
    }
    .left__logo{
        width: 10em;
        z-index: 2000;
        color: white;
    }
    .left div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .left div img{
        width: 1em;
        height: 1em;
        margin-right: 1em;
    }
    
    
    
    .mid{
        left: 5%;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .right{
        margin-right: 0em;
        position: relative;
        top: 2em;
        left: 0em;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .right div img{
        width: 20px;
        height: 20px;
        border: 1px solid hsl(193, 100%, 96%);
        border-radius: 100px;
        padding: 0.4em;
        margin: 0.3em;
    }
    
    .copyRight{
        position: absolute;
        bottom: 4em;
        right: 33%;
        font-size: 0.8em;
        color: hsl(193, 100%, 96%);
    }
}


@media only screen and (max-width: 600px){
    .ready{
        height: 200px;
        bottom: -16em;
    }
    .ready h1{
        font-size: 1.6em;
    }
    .tile img{
        width: 50%;
    }
}


@media only screen and (max-width: 500px){
    .ready h1{
        font-size: 1.2em;
    }
    .ready__btn{
        width: 200px;
        height: 40px;
    }
    .ready__btn p {
        font-size: 0.9em;
    }
    .tile img{
        width: 70%;
    }
    .copyRight{
        right: 23%;
    }
    .logo img{
        width: 40%;
    }
    .logo__btn{
        border-radius: 100px;
        width: 180px;
        height: 50px;
    }
    .mid{
        width: 80%;
    }
    .tile__header h1{
        text-align: center;
    }
}
@media only screen and (max-width: 400px){
    .logo__btn{
        border-radius: 80px;
        width: 140px;
        height: 50px;
        margin-left: 0.5em;
    }
}